{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["plugin:react/recommended", "airbnb"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint", "react-hooks"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".tsx"] }],
    "no-use-before-define": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "no-undef": "off",
    "operator-linebreak": "off",
    "object-curly-newline": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off",
    "implicit-arrow-linebreak": "off",
    "no-confusing-arrow": "off"
  }
}
